<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<meta name="description" content="Web site created using me"/>
		<link href="/static/styles.css" rel="stylesheet">

		<!-- FONT -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
		<meta http-equiv="Access-Control-Allow-Origin" content="https://api.intra.42.fr/oauth/token">

		<title>Pong !</title>
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<script type="importmap">
		{
			"imports": {
				"@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
				"bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.esm.min.js",
				"pouic": "/static/pouic/index.js",
				"bootstrap_css": "/static/bootstrap/bootstrap_css.js"
			}
		}
		</script>
		<script src="/static/SPA.js"></script>
		<script src="/static/App.js" type="module"></script>
		<script src="/static/Layout/Chat.js" type="module"></script>
		<script src="/static/Layout/TopBar.js" type="module"></script>
		<script src="/static/Layout/ContentSeparator.js" type="module"></script>
		<script src="/static/pages/Home.js" type="module"></script>
		<script src="/static/pages/Login.js" type="module"></script>
		<script src="/static/pages/Profile.js" type="module"></script>
		<script src="/static/pages/NotFound.js" type="module"></script>
		<script src="/static/pages/Pong/Classic.js" type="module"></script>
		<script src="/static/pages/Pong/PowerUp.js" type="module"></script>
		<script src="/static/pages/Pong/Tournament.js" type="module"></script>
		<script src="/static/pages/CreateGame.js" type="module"></script>
		<script src="/static/pages/WaitingRoom.js" type="module"></script>
		<script src="/static/pages/TournamentWaitingRoom.js" type="module"></script>

	</body>
</html>
