<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<meta name="description" content="Web site created using me"/>
		<link href="/static/styles.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>

		<!-- FONT -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
		<meta http-equiv="Access-Control-Allow-Origin" content="https://api.intra.42.fr/oauth/token">

		<title>Pong !</title>

		<script>
		function setCookie(name, value, days) {
			const expirationDate = new Date();
			expirationDate.setDate(expirationDate.getDate() + days);

			const cookieValue = `${encodeURIComponent(name)}=${encodeURIComponent(value)}; expires=${expirationDate.toUTCString()}; path=/; SameSite=Strict;`;

			document.cookie = cookieValue;
		}

		function unsetCookie(name) {
			document.cookie = `${encodeURIComponent(name)}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/; SameSite=Strict;`;
		}

		window.csrf = '{{ csrf_token }}'

		{% if user.is_authenticated %}
			setCookie('loggedin', true, 7);
			window.whoAmI = '{{ user.username }}'
			window.profile = {{ user.player.serialized|safe }}
		{% else %}
			unsetCookie('loggedin')
			window.whoAmI = null
		 	window.profile = {}
		{% endif %}
		</script>
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<script type="importmap">
		{
			"imports": {
				"@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
				"bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.esm.min.js",
				"pouic": "/static/pouic/index.js",
				"bootstrap_css": "/static/bootstrap/bootstrap_css.js",
				"three": "https://unpkg.com/three@0.161.0/build/three.module.js",
				"three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/",
				"uniforms": "/static/pong/uniforms.js"
			}
		}
		</script>
		<script src="/static/SPA.js"></script>
		<script src="/static/App.js" type="module"></script>
		<script src="/static/Layout/Chat.js" type="module"></script>
		<script src="/static/Layout/TopBar.js" type="module"></script>
		<script src="/static/Layout/ContentSeparator.js" type="module"></script>
		<script src="/static/pages/Home.js" type="module"></script>
		<script src="/static/pages/Login.js" type="module"></script>
		<script src="/static/pages/Profile.js" type="module"></script>
		<script src="/static/pages/NotFound.js" type="module"></script>
		<script src="/static/pages/Pong/Classic.js" type="module"></script>
		<script src="/static/pages/Pong/PowerUp.js" type="module"></script>
		<script src="/static/pages/Pong/Tournament.js" type="module"></script>
		<script src="/static/pages/Pong/PongGame.js" type="module"></script>
		<script src="/static/pages/CreateGame.js" type="module"></script>
		<script src="/static/pages/WaitingRoom.js" type="module"></script>
		<script src="/static/pages/TournamentWr.js" type="module"></script>
		<script src="/static/pages/TournamentRunningWr.js" type="module"></script>

	</body>
</html>
