body {
	background-color: rgb(29, 29, 29);
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@media (pointer:none), (pointer:coarse) {
	.tournament-game {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		height: calc(90% - 6px);
		background-color: rgba(255, 255, 255, 0.5);
	}
}

@media (hover: hover) {
	.tournament-game {
		position: absolute;
		right: 0;
		bottom: 0;
		width: calc(75% - 10px);
		height: calc(90% - 10px);
		background-color: rgba(255, 255, 255, 0.5);
	}
}

.content {
	position: absolute;
	top: 0;
	height: 100%;
	animation: fadeIn 0.5s;
}

.tournament-game-title {
	position: absolute;
	padding-top: 15px;
	color: white;
	font-size: 30px;
	word-wrap: break-word;
	text-align: center;
	width: 100%;
}

.tournament-game-content {
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 50%;
	height: calc(100% - 70px);
	background-color: rgb(112, 112, 112);
	overflow: hidden;
}

.tournament-game-create {
	position: absolute;
	text-align: center;
	top: 25px;
	width: 100%;
}

.tournament-game-list {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(100% - 95px);
	background-color: rgb(86, 86, 86);
}

.tournament-game-desc {
	margin-top: 8px;
	margin-left: 15px;
	height: 40px;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	align-items: center;
}

.tournament-game-type {
	position: relative;
	color: white;
}

.tournament-game-players {
	display: flex;
	position: relative;
	left: 10px;
	font-size: 12px;
	color: rgb(192, 192, 192);
	overflow-x: auto;
	flex: 1;
}

.tournament-game-players::-webkit-scrollbar {
	display: none;
}

.tournament-game-player {
	position: relative;
	margin-left: 10px;
}

.tournament-game-player-count {
	color: white;
	padding-left: 20px;
	right: 65px;
}

.tournament-game-player-join {
	margin-right: 15px;
	width: 40px;
	margin-left: 5px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tournament-game-player-img {
	width: 20px;
}

button:disabled {
	cursor: not-allowed;
	pointer-events: all !important;
}
