body {
	background-color: rgb(29, 29, 29);
}

@media (pointer:none), (pointer:coarse) {
	.background-game {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		height: calc(90% - 6px);
		background-color: rgba(255, 255, 255, 0.5);
	}
}

@media (hover: hover) {
	.background-game {
		position: absolute;
		right: 0;
		bottom: 0;
		width: calc(75% - 10px);
		height: calc(90% - 10px);
		background-color: rgba(255, 255, 255, 0.5);
	}
}
